tmux
aptitude
python-pip
python-dev
python-software-properties
libxml2
libxml2-dev
libxslt1-dev
zlib1g-dev
libssl-dev
python-virtualenv
python
nginx
nginx-extras
uwsgi
uwsgi-plugin-python
git
tree
zsh
terminator
vlc
mosh
nemo nemo-fileroller
y-ppa-manager
flashplugin-installer
indicator-brightness
bzip2
curl
gparted
htop
make
npm
p7zip-full
xpad
wget