aptitude
python-pip
python-dev
python-software-properties
libxml2
libxml2-dev
libxslt1-dev
zlib1g-dev
libssl-dev
python-virtualenv
python
nginx
nginx-extras
uwsgi
uwsgi-plugin-python
git
tree
zsh
terminator
vlc
mosh
nemo
nemo-fileroller
y-ppa-manager
flashplugin-installer
bzip2
curl
gparted
htop
make
npm
p7zip-full
xpad
wget
unity-tweak-tool
nethogs
nautilus-open-terminal
build-essential
libssl-dev
libffi-dev
libmysqlclient-dev
meld
tig
oracle-java7-installer
nautilus-open-terminal
git-flow
vagrant